BACKEND_URL=http://localhost:8080/api
FRONTEND_URL=http://localhost:5173

# Usuarios seed (H2, perfil local)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
USER_USERNAME=juanperez
USER_PASSWORD=user123
USER2_USERNAME=mariagomez
USER2_PASSWORD=cliente123
